body {
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", serif;
    /* background: lightgray; */

}

nav {
    background-color: #111;
    color: white;
    padding: 10px 20px;
}

.navTop {
    /* padding: 0; */
    /* margin: 0%; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 5px 10px;
    border-radius: 10px;
}
.searchInput{
    height: 30px;
    margin: 0px 10px;
    background-color: transparent;
    border:none;
    color: black;
}
.limitedOffer{
    font-size: 1.8rem;
}
.navBottom {
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
    justify-content: center;
}

.menuItem {
    /* border: 1px solid red; */
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    /* font-weight: 900; */
}

/* Slider */

.slider {
    background: url("https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 62%);
    color: white;
    height: 700px;
    /* width: 100vw; */
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    overflow: hidden;
    transition: 1.2s all ease-in-out;
    height: 480px;
    /* border: 1px solid red; */
    /* border: 1px solid red; */
}

.sliderItem {
    /* border: 1px solid red; */
    /* border: 1px solid yellow; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 480px;
}

.sliderItem img {
    filter: drop-shadow(-15px 15px 15px #000000);
    position: absolute;
    bottom: 5%;
    z-index: 1;
}

.sliderBg {
    position: absolute;
    width: 450px;
    height: 450px;
    border-radius: 50%;

}

.sliderItem:nth-child(1) .sliderBg {
    background-color: rgb(41, 40, 40);
}

.sliderItem:nth-child(2) .sliderBg {
    background-color:   rgb(122, 121, 121);
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: rgb(67, 68, 67);
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: rgb(143, 54, 3);
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: #46013a;
}

.sliderTitle {
    font-size: 3.5rem;
    position: absolute;
    right: 9%;
    top: 10%;
    z-index: 2;
    font-weight: 900;
    text-align: center;
}

.sliderPrice {
    font-size: 2.5rem;
    position: absolute;
    left: 18%;
    top: 10%;
    font-weight: 300;
    text-align: center;
}

.buyButton {
    font-size: 1.8rem;
    position: absolute;
    right: 12%;
    background: black;
    color: white;
    bottom: 10%;
    font-weight: 300;
    text-align: center;
    transition: .2s ease-in;

    &:hover {
        background-color: white;
        color: black;
        transition: .2s ease-in;
    }
}

/* FEATURES */

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    /* border: 1px solid red; */
    margin: 0%;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature i {

    font-size: 44px;
    color: rgb(11, 131, 0);
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
}

/* PRODUCT */

.product {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 78%, 0 62%); */
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.productImage {
    position: absolute;
    top: 10%;
    left: 10%;
    /* border: 1px solid red; */
}

.productDetails {
    position: absolute;
    top: 10%;
    right: 0%;
    width: 40%;
    padding: 50px;
}

.productDetails button {

    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: .2s all ease-in;

    &:hover {
        background-color: white;
        color: black;
        transition: .2s all ease-in;
    }
}

.productTitle {
    font-size: 75px;
    font-weight: 900;

}

.productDesc {
    color: gray;
    /* font-style: 24px; */
}

.colors,
.sizes {
    display: flex;
    margin-top: 10px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child {
    background-color: darkblue;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    &:hover{
        transition: .2s all ease-out;
        background-color: black;
        color: white;
    }
}

/* PAYMENT */

.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0%;
    right: 0%;
    margin: auto;
    padding: 10px 50px;
    display: flex;
    display: none;
    flex-direction: column;
    /* border: 1px solid blue; */
    -webkit-box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 13 2 rgba(0, 0, 0, 0.3);
}

.payTitle {
    font-size: 20px;
    color: black;
}

.payment label {
    font-size: 14px;
    font-weight: 500;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;

}

.payInput::placeholder {
    color: gray;
}

.cardIcons {
    border: 1px solid red ;
    display: flex;
}

.cardIcon {
    margin-right: 10px;
    /* border: 1px solid red ; */
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    
}

.sm {
    /* border: 1px solid red ; */
    width: 26%;

}

.payment button {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 13 2 rgba(0, 0, 0, 0.3);
    background-color: green;
    color: white;
    font-weight: 400;
}
.close{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: rgb(137, 0, 0);
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    /* align-content: center; */
}

/* GALLERY */

.gallery{
    padding: 50px;
    display: flex;
    /* background-color: red; */
}
.galleryItem{
    /* background-color: green; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    /* width: 33%; */
}
.galleryItem:nth-child(1) h1{
    font-size: 2.6rem;
    transform: rotate(7deg);
}
.galleryItem:nth-child(2) h1{
    font-size: 2.6rem;
    transform: rotate(-8deg);
}
.galleryItem:nth-child(3) h1{
    font-size: 2.6rem;
    transform: rotate(7deg);
}
.galleryImage{
    width: 90%;
}

/* NEW SEASON */

.newSeason{
    display: flex;
}
.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nsItem img{
    width: 100%;
    height: 500px;
}

.nsTitle{
font-size: 40px;

}
.nsButton{
    padding: 15px;
    font-weight: 600;
    background-color: white;
    color: black;
    /* border: none; */
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    transition: .2s all ease-in;
    &:hover{
        transition: .2s all ease-in;
        background-color: black;
        color: white;
        /* border-radius: 20px; */
    }
}

/* FOOTER */

footer{
    display: flex;

}

.footerLeft{
    flex: 2;
    display: flex;
        justify-content: space-between;
        padding: 50px;    
}
.fMenuTitle{
    font-size: 16px;

}

.fMenuList{
    padding: 0;
    list-style: none;
}
.flistItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}
.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 6px 15px;
border-radius: 15px ;

}

.fButton{
    border-radius: 15px ;
    padding: 7px 15px;
    background-color: black;
    color: white;
    border: 1px solid black;
    
    &:hover{
        background-color: white;
        color: black;
        transition: .2s all ease-in;
    }
}

.fIcons{
    display: flex;
    border: 1px solid red;

}

.fIcons i{
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.copyright{
    font-weight: 300;
    font-size: 14px;
}